.page {
  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 20px 80px;
  font-family: var(--font-geist-sans);
  background-color: var(--gray-alpha-100);
}


.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  width: 50%; 
}

.bookCard {
  background-color: #f9f9f9;
  border: 1px solid var(--gray-alpha-200);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;
  text-align: center;
}

.bookCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.bookTitle {
  color: #555;
  font-size: 1.5em;
  margin: 0;
}
.bookRating {
  color: #555;
  margin: 0;
}

.bookDescription {
  color: #555;
  margin: 0;
}

.bookPrice {
  color: #555;
  font-weight: bold;
}

.genreButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 16px;
  border: none;
  border-radius: 24px;
  background-color: #0070f3;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
}


.genreButton:hover {
  background-color: #005bb5;
}

.book_details{
  font-size: 16px;
color: #0070f3;
text-decoration: underline;
margin: 5px;
}
.book_details:hover {
  color: #0056b3;
  text-decoration: none;
}
.book_details_h1{
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  text-align: center;
}
.ctas {
  display: flex;
  padding: 5px;
  flex-direction: column;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}


.container {
  background-color: var(--gray-alpha-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.card {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.card h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  outline: none;
}

.card input:focus {
  border-color: #1890ff;
  box-shadow: 0 0 5px rgba(24, 144, 255, 0.5);
}

.card button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #1890ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #1677c1;
}

.error {
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 10px;
}
